.promo-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #80cbc4;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  font-size: 24px;
  transition: width 0.5s ease;
}

.swiper-slide {
  transition: width 0.5s ease;
  transition-property: width !important;
  &:nth-child(2n + 1) {
    .promo-item {
      background-color: #ffab91;
    }
  }
}
