.promo-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #80cbc4;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  font-size: 24px;
  transition-timing-function: ease;
  transition-property: width;
}

.swiper-slide {
  position: relative;
  z-index: 10;
  border-radius: 10px;

  &-next,
  &-active,
  &-prev {
    transition-timing-function: ease;
    transition-property: width !important;
  }

  &:nth-child(2n + 1) {
    .promo-item {
      background-color: #ffab91;
    }
  }
}
